@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}


body{
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
  }




.slider-wrapper{
    height: auto;
    margin-top: 160px;
    width: 100%;
    
}

@media (max-width: 1050px){
    .slider-wrapper{
        margin-top: 0px;
    }
}

.slider-wrapper img{
    height: 100%;
    
    width: 100%;
    max-height: 83vh;
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 20px;
}


.search-bar input{
    border: 2px solid var(--border-color);
}

.search-bar input{
    border: 2px solid var(--border-color);
    height: 44px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;
    font-weight: bold;
    padding-right: 50px;

}

.search-bar button{
    border: 2px solid var(--border-color);
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -6px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--border-color);
    color: white;
    
    

}