.sss-section{
    padding: 25px 75px;
    margin-top: 25px;
    padding-bottom: 120px;
}

.sss-wrapper{
    padding: 20px 45px;
    background-color: #F3F3F8;
    border-radius: 10px;
}

.dropdown-toggle{
    width: 100%;
    
}

.dropdown-menu{
    width: 100%;
    overflow-x: scroll;
    height: 75px;
}

.dropdown{
    margin-bottom: 20px;
    
}


@media (max-width: 1000px){
    .sss-section{
        padding: 0px;
        padding-bottom: 120px;
    }
}
